<h3>Manage Your Products</h3>
<hr>

<!-- Editable fields -->
<form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="(selectedProduct | json) != ({} | json)">
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <label for="productName">Name</label>
        <input type="text" class="form-control" id="productName" name="productName" placeholder="Product Name" [(ngModel)]="selectedProduct.name">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="productDescription">Description</label>
        <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="Description" [(ngModel)]="selectedProduct.description">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="productType">Product Type</label>
        <input type="text" class="form-control" id="productType" name="productType" placeholder="Product Type" [(ngModel)]="selectedProduct.type">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="productQuantity">Available Quantity</label>
        <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Available Quantity" [(ngModel)]="selectedProduct.quantity">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <button type="submit" class="btn btn-primary">Update Product</button>
    </div>
    <!--<div class="col-xs-2">
      <button type="button" class="btn btn-primary" (click)="resetForm(f)">Cancel</button>
    </div>-->
  </div>
</form>

<br/><br/>

<!-- Table -->
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Product Name</th>
      <th>Description</th>
      <th>Product Type</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let product of productList">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.type}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="editProduct(product)"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </td>
    </tr>
  </tbody>

</table>