<h3>Manage Your Products</h3>
<hr>
<button type="button" class="btn btn-primary" (click)="addProduct()">Add New Product</button>
<br/><br/>
<div class="panel panel-success" [ngClass]="formShow">
  <div class="panel-heading"><strong>Product Details</strong>
    <button type="button" class="close" aria-label="Close" (click)="hideForm()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <!-- Form for Editing -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
     <input type="hidden"  id="productId" name="productId" [(ngModel)]="selectedProduct.productId"/>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="productCode">Code</label>
            <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Product Code" [(ngModel)]="selectedProduct.productCode">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="productName">Name</label>
            <input type="text" class="form-control" id="productName" name="productName" placeholder="Product Name" [(ngModel)]="selectedProduct.productName">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="shape">Shape</label>
            <input type="text" class="form-control" id="shape" name="shape" placeholder="Shape" [(ngModel)]="selectedProduct.shape">
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="dimensions">Dimension</label>
            <input type="text" class="form-control" id="dimensions" name="dimensions" placeholder="Dimensions" [(ngModel)]="selectedProduct.dimensions">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="quantity">Available Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Available Quantity" [(ngModel)]="selectedProduct.quantity">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="productQuantity">Carat weight</label>
            <input type="text" class="form-control" id="caratWeight" name="caratWeight" placeholder="Carat Weight" [(ngModel)]="selectedProduct.caratWeight">
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" id="color" name="color" placeholder="Color" [(ngModel)]="selectedProduct.color">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="meanRating">Mean Rating</label>
            <input type="text" class="form-control" id="meanRating" name="meanRating" placeholder="Mean Rating" [(ngModel)]="selectedProduct.meanRating">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Price" [(ngModel)]="selectedProduct.price">
          </div>
        </div>
      </div>
      <div [ngClass]="formImageShow">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="http://localhost\/__gallery\/image\/item\/1\/front.jpg" class="img-responsive" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a (click)="editProductImages()">{{formEditImageLink}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary">{{formAction}}</button>
        </div>
        <!--<div class="col-xs-2">
      <button type="button" class="btn btn-primary" (click)="resetForm(f)">Cancel</button>
    </div>-->
      </div>
    </form>
    <!-- End - Form for Editing -->
  </div>
</div>
<br/><br/>

<!-- Table -->
<table class="table table-responsive table-bordered table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Product Name</th>
      <th>Product Code</th>
      <th>Shape</th>
      <th>Dimension</th>
      <th>Carat Weight</th>
      <th>Quantity</th>
      <th>Color</th>
      <th>Mean Rating</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let product of productList">
      <td>{{product.productName}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.shape}}</td>
      <td>{{product.dimensions}}</td>
      <td>{{product.caratWeight}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.color}}</td>
      <td>{{product.meanRating}}</td>
      <td>{{product.price}}</td>
      <td>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="editProduct(product)"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="deleteProduct(product)"></span>
      </td>
    </tr>
  </tbody>

</table>