<br/>
<div class="alert fade in" [ngClass]="message.class">
     <button type="button" class="close" aria-label="Close" (click)="message.class='hidden'"><span aria-hidden="true">&times;</span></button>
    {{this.message.text}}
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-success" [ngClass]="formShow">
      <div class="panel-heading"><strong>Configure Charges</strong>
      </div>
      <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor=" let charge of chargeList">
                <td>{{charge.charge_type | uppercase}}</td>
                <td>
                  <input type="number" class="form-control" id="charge_value" name="charge_value" placeholder="Input Charge" [(ngModel)]="charge.charge_value">
                </td>
                <td>{{charge.charge_value_unit}}</td>
                <td>
                  <button type="button" (click)="onSubmit(charge)" class="btn btn-primary btm-sm">Update</button>
                </td>
              </tr>
            </tbody>

          </table>

      </div>
    </div>
  </div>
</div>