<br/>
<div class="panel panel-success" [ngClass]="formShow">
  <div class="panel-heading"><strong>Configure Charges</strong>
    <button type="button" class="close" aria-label="Close" (click)="hideForm()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <!-- Form for Editing -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="productCode">VAT Charge ({{vatChargeUnit}})</label>
            <input type="text" class="form-control" id="vat" name="vat" placeholder="VAT Charge" [(ngModel)]="vatCharge">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="productCode">Shipping Charge ({{shippingChargeUnit}})</label>
            <input type="text" class="form-control" id="shipping" name="shipping" placeholder="Shipping Charge" [(ngModel)]="shippingCharge">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>        
      </div>

    </form>
  </div>
</div>