<br/>
<div class="row">
  <div class="col-xs-12">
    <h5><a [routerLink]="['/orders']">Review Your Orders here</a></h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
      <a [routerLink]="['/orders']">
      <p-chart #chart type="bar" [data]="monthlySalesData" [options]="options"></p-chart>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
      <p-chart #userchart type="bar" [data]="fivetopUsersalesData" [options]="optionsUserchart" (onDataSelect)="selectData($event)"></p-chart>
    </div>
  </div>
</div>

<br/>

<div class="row" [ngClass]="tableShow" >
  <div class="col-xs-12">
    <div class="table-responsive panel panel-default">
      <div class="panel-heading">
        <h4>
          Customer Order Details
        </h4>
      </div>
      <!-- Table -->
      <table class="table table-fixed table-bordered table-striped table-hover">
        <thead>
          <tr class="info">
            <th>Customer Name</th>
            <th>Customer Address</th>
            <th>Customer Contact</th>
            <th>Order Time</th>
            <th>Order Id</th>
            <th>Invoice Id</th>
            <th>Order Amount</th>
            <th>Order Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let order of ordersList">
            <td>{{order.full_name}}</td>
            <td>{{order.address}}</td>
            <td>{{order.contact_number}}</td>
            <td>{{order.order_time}}</td>
            <td>{{order.order_id}}</td>
            <td>{{order.invoice_id}}</td>
            <td>{{order.total_amount}}</td>
            <td>
                <div class="panel-body" *ngFor=" let itemDetails of order.itemDetails">
								  <div class="row">
											<div class="col-sm-8">
											<h5 class="text-uppercase">{{itemDetails.item_name}}</h5>
											<h5 class="text-uppercase">Product Code {{itemDetails.item_code}} | QTY {{itemDetails.quantity}}</h5>
											</div>
											<div class="col-sm-4">
											   <h5>{{order.currency}} {{itemDetails.item_price}}</h5>
											</div>
								</div>
							 </div>
               </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>